<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Discovery Call</h4>
                    <p class="text-muted">Ready to see if we click? Let's spend 20 minutes mapping out where you are and where you want to be.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Individual Session</h4>
                    <p class="text-muted">A space designed entirely for your evolution. We’ll dive deep, clear the hurdles, and get you moving.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Session</h4>
                    <p class="text-muted">Growth doesn't have to be lonely. Join a circle of like-minded peers and accelerate your progress together.</p>
                </div>
            </div>
            <!-- Book Now Button -->
            <div class="row" style="margin-top: 30px;">
                <div class="col-lg-12 text-center">
                    <a href="https://calendly.com/xplorezest/session" class="btn btn-primary btn-xl">Book Now</a>
                </div>
            </div>
        </div>
    </section>